*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  color: white;
}
header{
  font-style: oblique;
  text-align: center;
  margin: 5px;
  border-bottom: inset;
}
.column1{
  float: left;
  width: 65%;
  color: black;
  margin-top: 2%;
}
.column2 {
  float: right;
  width: 34%;
  margin-top: 2%;
}
svg{
  background-color: transparent;
}
svg path{
  fill: lightgrey;
}
svg path:hover{
  cursor: pointer;
  fill: darkred;
  transition: 0.1s;
}
h2{
  text-align: center;
  margin: 5px;
}
p{
  font-size: 10pt;
  text-align: center;
}
