*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: lightgrey;
}
header{
  font-style: oblique;
  text-align: center;
  margin: 0;
  border-style: groove;
}
.column1{
  float: left;
  width: 65%;
  color: black;
  margin-top: 2%;
  border-style: inset;
}
.column2 {
  float: right;
  width: 34%;
  margin-top: 2%;
  border-style: inset;
}
td{
  border: inset;
}
button{
  color: black;
  background-color: darkgrey;
}
button:hover{
  color: lightgrey;
}
h2{
  text-align: center;
  margin: 5px;
}
